<nav class="navbar navbar-light bg-light justify-content-between px-3">
  <a href="/articles" class="navbar-brand">Wikinimous</a>
  <a href="/articles/new" class="navbar-new-article">New Article</a>
</nav>
