<%= render 'navbar' %>

<div class="container mt-3">
  <% @articles.each do |article| %>
  <ul>
    <li><h3><%= link_to article.title, article_path(article) %></h3></li>
    <%= article.content %>
  </ul>
  <% end %>
</div>
